@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.header h2, h3 {
    background-color: #46c8ff;
    text-align: center;
    color: #fff;
}

#logo {
    padding: 30px;
    margin: 15px;
    box-shadow: 5px 5px 5px 5px #494949;
}

#rodape {
    text-align: center;
}

a {
    color: dodgerblue;
}

.whatsapp-link {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 45px;
    right: 40px;
    margin: 20px 30px auto 80px;
    background-color: #25d366;
    color: #ffffff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 1px 1px 2px #888;
    z-index: 1000;
}

.fa-whatsapp {
    margin-top: 15px;
}

.instagram-link {
    position: absolute;
    width: 60px;
    height: 60px;
    bottom: 40px;
    left: 40px;
    margin: 20px 30px auto 80px;
    background-color: rgb(204, 46, 139);
    color: #ffffff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 1px 1px 2px #888;
    z-index: 1000;
}

.fa-instagram {
    margin-top: 15px;
}